<div class="tought-container">
<h2>Criar Pensamento</h2>
<form action="/toughts/add" method="post" class="form">
<div class="form-control">
    <label for="title">Pensamento</label>
    <input type="text" name="title" id="title" placeholder="Digite seu pensamento" required>
</div>
<input type="submit" class="btn" value="Adicionar">
</form>
<p><a href="/toughts/dashboard" class="link">Voltar</a></p>
</div>
