<h2>Todos os pensamentos</h2>
<div class="toughts">
{{#each toughts}}
<ul>
    <li>
        <p>"{{this.title}}"</p>
        <p class="autor">{{this.User.nome}}</p>
    </li>
</ul>
{{/each}}
{{#if emptyToughts}}
<p class="empty-toughts">Ainda não há pensamentos</p>
{{/if}}
</div>