<div class="title-container">
<h2>Dashboard</h2>
<a href="/toughts/add" class="btn">Criar Pensamento</a>
</div>

<div class="dashboard">
{{#each toughts}}
<ul>
    <li>
        <span class="label">{{this.title}}</span>
        <span class="actions">
            <a href="/toughts/edit/{{this.id}}" class="btn btn-secondary btn-actions">Editar</a>
            <a href="/toughts/remove/{{this.id}}" class="btn btn-secondary btn-actions">Remover</a>
        </span>
    </li>
</ul>
{{/each}}
{{#if emptyToughts}}
<p class="empty-toughts">Ainda não há nenhum pensamento seu</p>
{{/if}}
</div>