<div class="tought-container">
<h2>Editar Pensamento</h2>
<form action="/toughts/edit" method="post" class="form">
<input type="hidden" name="id" id="id" value="{{tought.id}}">
<div class="form-control">
    <label for="title">Pensamento</label>
    <input type="text" name="title" id="title" placeholder="Digite seu pensamento" value="{{tought.title}}" required>
</div>
<input type="submit" class="btn" value="Salvar">
</form>
<p><a href="/toughts/dashboard" class="link">Voltar</a></p>
</div>
